<quill-editor [ngModel]="content" [sanitize]="false">
    <!-- <div quill-editor-toolbar>
        <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-strike"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-blockquote"></button>
            <button class="ql-code-block"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-header" value="1"></button>
            <button class="ql-header" value="2"></button>
        </span>
        <span class="ql-formats">
            <select class="ql-size">
              <option value="10px">Small</option>
              <option value="12px" selected></option>
              <option value="16px">Large</option>
              <option value="32px">Huge</option>
            </select>
          </span>
    </div> -->
</quill-editor>
